---
const thisYear = new Date().getFullYear();
---

<footer>
	<p class="px-4 py-8 text-center font-bold text-sm">&copy; <span class="font-alternate font-normal text-[1.5em] text-brand-primary">{thisYear}</span> A product by <a href="https://atkins.codes" class="text-brand-primary">Atkins Codes</a> - Stay Rad</p>
</footer>
